
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: 'Figtree', sans-serif;
    
}


.centrado{
    display: flex;
    justify-content: center;
    color:#996e02;
   
}

.justificado{
    display: flex;
    justify-content: justify;
}

.espacio{
    padding: 20px;
}

.parrafo1{
    display: flex;
    max-width: 75em;
    margin:20px 120px 0px 120px;
    align-content: center;
    text-align: justify;
    border-radius: 20px;
    /*background-color:#ffefc1;*/
    padding: 15px;
    border: 2px solid #996e02;
    
}


.parrafo2{
    display: flex;
    max-width: 75em;
    margin:40px 120px 40px 120px;
    align-content: center;
    text-align: justify;
    border-radius: 20px;
    /*background-color:#ffefc1;*/
    padding: 15px;
    border: 2px solid #996e02;
    
}

.imagen1{
    border-radius: 20px;
    width: 350px;
    height: 200px;
}
.imagen2{
    border-radius: 20px;
    width: 150px;
    height: 150x;
}

/**Formulario*/
form {
    margin: 40px 500px 40px 500px;
        
    background-color:#996e02;
    /*darkgoldenrod;*/
    padding: 10px;
    flex-direction: column;
    text-align:center;
    /*width: 300px;*/
    border-radius: 20px;

}
p{
   
    text-align: left;
}
form h2 {
    font-size: 20px;
    color:black;
}

.btn{
    background-color:whitesmoke;
    
    cursor: pointer;
}
